* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}


.texto-vermelho {
    color: #bb262d;
    padding-left: 0.3vw;
}

main {
    margin: 0;
    background: linear-gradient(#f73737 0%, #f86b6b 33.33%, #fcb3b3 66.67%, #fae0e0 100%);
    font-size: 2vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-size: 100% 100%;
    margin: 0vw;
    padding-top: 2vw;
}

.container_informacao {
    display: block;
    flex-direction: column;
    width: 30vw;
    border: 1px solid #ffffff;
    position: relative;
    overflow: visible;
    text-align: center;
}

.container_informacao_titulo {
    font-size: 3vw;
}

.container_informacao_3botoes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.5vw;
}

.container_informacao_timer{
    display: flex;
    font-size: 7vw;
    flex-direction: row;
    justify-content: center;
}

.container_informacao_botao_start{
    margin-bottom: 0.8vw;
    width: 7vw;
}

.container_task{
    display: block;
    width: 30vw;
    padding-top: 1vw;
}

.container_task_label{
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
    align-items: center;
}

.container__task_label_input{
    font-size: 1vw;
    width: 100%;
    margin-top: 0.5vw;
    border-style: none none solid none;
    border-width: 3px;
    color: #000;
    background-color: #fcb3b3;

}
.container__task_label_input::after{
    font-size: 1vw;
    width: 100%;
    border-style: none none solid none;
    border-width: 3px;
    color: #000;
    background-color: #fcb3b3;
    border-color: none;

}

.container_task_botoes{
    display: flex;
    justify-content: center;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}

.cotainer_resultados{
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 1vw;
    font-weight: 400;
    justify-content: center;
    line-height: 160%;
    padding: 1.5vw;
    width: 30vw;
    white-space: pre;
    position: relative;
 
}